.container {
	position: relative;
	padding-left: 204px
}

.container .left-tree {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	padding: 10px;
	width: 180px;
	border: 1px solid #bfbfbf
}

.container .content {
	padding-left: 10px;
	min-height: 600px
}

.container .content .cms_column {
	padding: 10px
}

.container .content .column {
	position: relative;
	height: 23px;
	border-bottom: 1px solid #d4d4d4;
	margin-bottom: 10px
}

.container .content .column span.current {
	position: relative;
	top: 0px;
	display: inline-block;
	color: #1da02b;
	font-size: 12px;
	font-weight: bold;
	height: 22px;
	line-height: 22px;
	border-bottom: 2px solid #ff9d02
}

.container .content table.yes-not.kv-table td.kv-label {
	width: 130px
}

.container .content table.kv-table {
	margin-bottom: 20px
}

.container .content table.kv-table td.kv-label {
	height: 26px;
	font-size: 12px
}

.container .content table.kv-table td.kv-content {
	height: 26px;
	font-size: 12px
}

.container .content table.kv-table td.kv-content a {
	color: #1da02b;
	text-decoration: none
}

.container .content table.kv-table td.kv-content a:hover {
	text-decoration: underline
}

/* -----add----- */
#tagDialog,#themeDialog,#authorDialog{
    text-align: center;
    padding:12px 0;
}

.this_tabs{
    display: inline-table;
    margin-bottom:12px;
    border-collapse: separate;
				border-spacing: 4px;
}

.this_tabs td{
    text-align: center;
    position: relative;
    border: 1px solid #dddddd; 
    height:30px !important;
    width:33%;
       border-radius: 4px;
}
#authorTable td{
	width:20% ;
}

#authorTable tr:last-child td:nth-child(2){
	border:1px solid #dddddd !important;
}

#authorTable tr:last-child td:nth-child(2) input{
    width: 100%;
    height: 32px;
    border: none;
	padding: 0 10px;
    box-sizing: border-box;
}

.this_tabs td input[type="checkbox"],.this_tabs td input[type="radio"]{
	position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    /* border: none; */
    height: 100% !important;
    opacity: 0;
       cursor: pointer;
}

.tagTable_input{
	background:url(/statics/images/goug.png) no-repeat bottom right;
	background-size: 20px 19px;
}
#this_but1{
	display:none;
}