<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomidou.regist.com.xhpower.wexin.dao.NpWxRegistRecordTMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.xhpower.wexin.regist.entity.NpWxRegistRecordT">
		<id column="id" property="id" />
		<result column="campus_id" property="campusId" />
		<result column="campus_name" property="campusName" />
		<result column="regist_user_id" property="registUserId" />
		<result column="source" property="source" />
		<result column="create_date" property="createDate" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, campus_id AS campusId, campus_name AS campusName, regist_user_id AS registUserId, source, create_date AS createDate
    </sql>

</mapper>
