<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhpower.education.platform.dao.CmsExpertMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.xhpower.education.platform.entity.CmsExpertEntity">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="tag" property="tag" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, tag
    </sql>
    
    <insert id="insert" parameterType="com.xhpower.education.platform.entity.CmsExpertEntity">
    	insert into np_cms_expert(id, name, tag) values(
			#{id,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},
			#{tag,jdbcType=VARCHAR})
    </insert>

</mapper>
